:host::ng-deep {
  .language-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;

    .label {
      width: 100px;
    }

    .control {
      min-width: 150px;

      .p-dropdown {
        width: 150px;
      }
    }
  }
}
