.table-container {
  min-width: 80svw;
  padding: 1rem;

  .filters {
    gap: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1rem;

    @media only screen and (max-width: 700px) {
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .estimateId {
      width: 100%;
      max-width: 280px;
    }

    .createdAfter {
      max-width: 280px;
    }

    .submit {
      @media only screen and (max-width: 700px) {
        :host::ng-deep .p-button {
          min-width: 280px;
        }
      }
    }
  }
}

.plan-icon-column {
  width: 42px;
}
