.table-container {
  width: 80svw;
}

.filter-button {
  display: flex;
  justify-content: flex-start;
}


.filters {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
