<div class="estimate-page-container">
    <app-card [ngStyle]="{width: '100%'}" title="components.estimatePage.title">
        <div class="table-container">
            <p-table [value]="estimates">
                <ng-template pTemplate="header">
                    <tr>
                        <th> {{ 'components.estimatePage.estimateId' | translate }} </th>
                        <th> {{ 'components.estimatePage.creationTimestamp' | translate }} </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-estimate>
                    <tr>
                        <td> {{estimate.estimateId}} </td>
                        <td> {{estimate.creationTimestamp | date:"YYYY-MM-d HH:m"}} </td>
                    </tr>
                </ng-template>
            </p-table>
          <p-paginator (onPageChange)="paginate($event)" [rows]="page.size"
                       [totalRecords]="pages?.totalElements ?? 0"
                       [rowsPerPageOptions]="[1, 5, 10, 20]"></p-paginator>
        </div>
    </app-card>
</div>
