.table-container {
  width: 80svw;

  .plan-icon-column {
    width: 42px;
  }
}

.filters {
  display: flex;
  width: 50%;
  align-items: center;

  .estimateId {
    width: 100%;
  }

  .createdAfter {
    width: 100%;
  }

  .submit {
    justify-content: flex-start;
    width: 100%;
    margin-right: auto;
  }
}
