<div class="blur" *ngIf="mobile"></div>
<div class="side-panel-container" [class.mobile]="mobile">
  <div class="side-panel-el" [class.mobile]="mobile" id="side-panel">
    <div class="menu-container">
      <ng-container *ngTemplateOutlet="nav"></ng-container>
    </div>
  </div>
</div>

<ng-template #nav>
  <div class="nav">
    <ul>
      <li *ngFor="let route of navList; trackBy: trackBy">
        <ng-container
          *ngTemplateOutlet="nav_item; context: { item: route }"
        ></ng-container>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #nav_item let-item="item">
  <div
    class="item-el pointer"
    [routerLink]="item.url"
    routerLinkActive="active"
    [pTooltip]="item.name | translate"
  >
    <i [ngClass]="'icon icon--' + item?.iconName"></i>
  </div>
</ng-template>
