@import "src/assets/styles/variables";
@import "src/assets/styles/_animations.scss";

.side-panel-container {
  background-color: $secondary-light;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .side-panel-el {
    background-color: $primary-light;
    padding: 25px 0 25px 0;
    margin-left: 10px;
    border-radius: 25px;
    animation: fadeInLeft both 1s;

    &.mobile {
      padding: 0 25px 0 25px;
      margin-left: 0;
      width: 80vw;
      height: 3rem;
      position: fixed;
      top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fadeInDown both 1s;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        @media only screen and (min-width: 300px) {
          gap: 2.1rem;
        }

        li {
          scale: 1.3;
        }
      }
    }
  }
}

.nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      .item-el {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: scale 600ms;

        &:hover {
          scale: 1.2;
        }

        &.active {
          border-bottom: 1px solid $primary-middle;
          background-color: $header-color;
          border-radius: 25px;
          i {
            background-color: $secondary-dark;
          }
        }
      }
    }
  }
}
