.router-button {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: fadeInLeft 600ms both;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

h1 {
  @media only screen and (max-width: 700px) {
    margin-left: 1rem;
  }
}
