@import "assets/styles/variables";
@import "assets/styles/animations";

.container {
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  animation: fadeInRight 600ms both;
}
