.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInRight 600ms both;

  .table-container {
    width: 80svw;

    .action-button {
      display: flex;
      justify-content: flex-end;
    }
  }

  .actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
  }

  @media only screen and (max-width: 700px) {
    animation: 700ms fadeInUp both;
  }
}
