<div class="container">
    <app-card title="components.manageStaff.table.title">
        <div class="table-container">
            <p-table *ngIf="employees | async as employees" [value]="employees">
                <ng-template pTemplate="header">
                    <tr>
                        <th> {{ 'components.employee.firstName' | translate }} </th>
                        <th> {{'components.employee.lastName' | translate }} </th>
                        <th> {{'components.employee.workplace' | translate }} </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee>
                    <tr>
                        <td> {{employee.firstName}} </td>
                        <td> {{employee.lastName}} </td>
                        <td> {{"enum.Workplace." + employee.workplace | translate}} </td>
                        <td>
                            <button (click)="editEmployee(employee)" pButton type="submit">
                                {{ 'components.manageStaff.edit' | translate }}
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="actions">
            <button (click)="addEmployee()" pButton type="submit">
                {{ 'components.manageStaff.create' | translate }}
            </button>
        </div>
    </app-card>
</div>
