@import "./variables.scss";

:root {
  .p-inputtext {
    width: 100%;

    &:enabled:hover {
      border-color: $primary-dark;
    }

    &:enabled:focus {
      box-shadow: 0 0 0 0.2rem $primary-light;
      border-color: $primary-dark;
    }
  }

  .p-button {
    background-color: $primary-middle;
    border-color: $primary-middle;
    justify-content: center;

    &:enabled:hover {
      background: $primary-dark;
      border-color: $primary-dark;
    }

    &:enabled:active {
      background: $primary-dark;
      border-color: $primary-dark;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $primary-light;
    }
  }

  .p-dialog {
    .p-dialog-content {
      padding: 0 !important;
      border-radius: 6px;
    }
  }

  .p-fileupload-choose {
    background-color: $primary-middle !important;
    border-color: $primary-middle !important;

    &:hover {
      background: $primary-dark !important;
      border-color: $primary-dark !important;
    }

    &:active {
      background: $primary-dark !important;
      border-color: $primary-dark !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $primary-light !important;
    }
  }

  p-dropdown {
    width: 100%;
  }

  p-inputnumber {
    width: 100%;
    & > span {
      width: 100%;
    }
  }
}
