@mixin shadow() {
  box-shadow: 4px 5px 15px -10px var(--box-shadow-color);
  -webkit-box-shadow: 4px 5px 15px -10px var(--box-shadow-color);
  -moz-box-shadow: 4px 5px 15px -10px var(--box-shadow-color);
}
