$icons: poland;

.pointer {
  cursor: pointer;
}

:root {
  --icon-bg: var(--primary-600);
  --border-color: var(--surface-600);

  --color: black;
  --color-dialog: var(--primary-color-text);

  --background-url: url("/assets/images/background/background-light.svg");
}

.dark {
  --icon-bg: var(--primary-600);
  --border-color: var(--surface-border);

  --color: white;
  --color-dialog: white;

  --background-url: url("/assets/images/background/background-dark.svg");
}
