$icons: poland;
$icon-bg: rgba(
  $color: #6b9080,
  $alpha: 1,
);

$menu-color: rgba(
  $color: #6b9080,
  $alpha: 1,
);

$menu-item-color: 32;
$menu-item-hover-color: 32;
$menu-item-active-color: 32;

$header-color: rgba(
  $color: #6b9080,
  $alpha: 1,
);

.pointer {
  cursor: pointer;
}

$primary-dark: rgba(
  $color: #6b9080,
  $alpha: 1,
);

$primary-middle: rgba(
  $color: #a4c3b2,
  $alpha: 1,
);

$primary-light: rgba(
  $color: #cce3de,
  $alpha: 1,
);

$secondary-dark: rgba(
  $color: #eaf4f4,
  $alpha: 1,
);

$secondary-middle: rgba(
  $color: #f6fff8,
  $alpha: 1,
);

$secondary-light: rgba(
  $color: #f4f6f5,
  $alpha: 1,
);
