@import "src/assets/styles/variables";
@import "src/assets/styles/_animations.scss";
@import "src/assets/styles/mixins.scss";

.login-cloud-container {
  position: fixed;
  height: 50px;
  width: 150px;
  background-color: var(--primary-color);
  right: 2rem;
  top: 2rem;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: var(--primary-color-text);

  i {
    background-color: var(--primary-color-text);
  }

  @include shadow();
  transition: scale 500ms;
  animation: fadeInRight both 1s;

  &:hover {
    scale: 1.025;
  }

  &.mobile {
    top: auto;
    bottom: 2rem;
    width: 50px;
  }
}
