<div class="container">
  <div class="header">
    <div class="title">
      {{ 'components.workshopCreator.form.title' | translate }}
    </div>
  </div>
  <div class="content" [formGroup]="form">
    <div class="controls-container">
      <div class="control">
        <label htmlFor="field-WorkshopName">
          {{ 'components.workshopCreator.form.workshopName' | translate }}
        </label>
        <input
          pInputText
          id="field-workshopName"
          type="text"
          aria-describedby="workshopName-help"
          formControlName="workshopName"
        />
      </div>
    </div>
    <div class="footer">
      <div class="actions">
        <button
          [style]="{ width: '100px' }"
          pButton
          (click)="submit()"
          translate="components.employee.form.actions.submit"
        ></button>
        <button
          [style]="{ width: '100px' }"
          pButton
          (click)="ref.close()"
          translate="components.estimateCatalogue.form.actions.close"
        ></button>
      </div>
    </div>
  </div>
</div>
