@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixins.scss";

.wrapper {
  max-height: calc(100svh - 120px);
  height: calc(100svh - 120px);
  width: 30svw;
  padding-right: 5px;
  margin-left: 10px;

  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--primary-400);
  @include shadow;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  max-width: 30svw;
  overflow-x: hidden;

  .job-type {
    width: 100%;
    padding: 2rem;

    .title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: var(--primary-color-text);
    }

    .content {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
}
