@import "src/assets/styles/variables";
@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.items-container {
  width: 100%;
  max-width: 310px;
  translate: opacity 1s;
  opacity: 100%;
  animation: moveOut 600ms both;
  display: none;

  transition: height 4s both;

  &.visible {
    animation: 700ms fadeInDown;
    @media only screen and (max-width: 700px) {
      animation: 700ms fadeInUp;
    }
    display: block;
  }

  @keyframes moveOut {
    from {
      opacity: 1;
      display: block;
    }

    to {
      opacity: 0;
      display: none;
    }
  }

  .items-list {
    width: 100%;
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid var(--border-color);

    @include shadow();

    .item {
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 1px solid var(--border-color);

      padding: 1rem;

      &:hover {
        background-color: var(--primary-color);
        cursor: pointer;
      }

      &.selected {
        background-color: var(--primary-600);
        color: var(--primary-color-text);
        &:hover {
          background-color: var(--primary-700);
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li:not(:first-child) {
      margin-top: 1rem;
    }

    li:last-child {
      margin-bottom: 0;
    }

    li {
      width: 100%;
      height: 100%;
    }
  }
}
