@import "src/assets/styles/variables";
@import "src/assets/styles/_animations.scss";

.login-container {
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    animation: fadeInDown 1.5s;

    .submit-button {
      width: 15rem;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;

      button {
        animation: fadeInUp forwards 1s;
      }

      .info {
        width: 50%;
        margin-right: 1rem;
        animation: fadeInUp forwards 1s;
      }
    }
  }
}
